.columna0{
	width: 105px;
	text-align: center;
}

.columnaNombre{
	width: 280px;
}

.columnaPuesto{
	width: 400px;
}

.columnaDoc{
	width: 280px;
}

/* COLUMNAS AUTORIZACIONES */
.columnaGeneral{
	width: 50px;
}

.columnaNombre{
	width: 250px;
}

.columnaFecha{
	width: 80px;
}
.columnaComentario{
	width: 350px;
}

/* COLUMNAS TARIFAS*/
.colTarifaId{
	width: 80px;
}

.colTarifaDesc{
	width: 300px;
}

.colTarifaCosto{
	width: 100px;
}

.columnaNotas{
	width: 20px;
}