/* 		Estilos para el marco general 		*/

#encabezado{
	position: absolute;
	top:  20px;
	left: 140px;
	width: 1100px;
	height: 80px;
	background: #084B8A;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	color: #FFFFFF;
	moz-border-radius: 1em 1em;
	border-radius: 1em 1em;
}

.registro{
	position: absolute;
	top:  180px;
	left: 950px;
}

.registroRenov{
	position: absolute;
	top:  200px;
	left: 500px;
}

#menu{
	position: absolute;
	top:  90px;
	left: 140px;
	width: 160px;
}

.cuerpo{
	position: relative;
	top:  90px;
	left: 310px;
	width: 955px;
	height: 1000px;
}

#tituloBienvenida{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #084B8A;
	position: relative;
	top:  120px;
	left: 800px;
}

#piepagina{
	position: relative;
	background: #D8D8D8;
	color: #084B8A;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	moz-border-radius: 1em 1em;
	border-radius: 1em 1em;
	top:  1250px;
	left: 140px;
	width: 1100px;
	height: 50px;
}

#piepaginados{
	position: relative;
	background: #D8D8D8;
	color: #084B8A;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	moz-border-radius: 1em 1em;
	border-radius: 1em 1em;
	top:  650px;
	left: 140px;
	width: 1100px;
	height: 50px;
}

#logo{
	position: absolute;
	top: 20px;
	left: 50px;
}

#titulo{
	position: absolute;
	top: 30px;
	left: 700px;
}

#inicio{
	position: absolute;
	top:50px;
	left: 600px;
	font-size: 12px;
}

#salir{
	position: absolute;
	top:30px;
	left: 1050px;
}

#a1{
	position: absolute;
	top:  40px;
	left: 40px;
}
#a2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #084B8A;
	position: absolute;
	top:  70px;
	left: 690px;
}
#a3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #084B8A;
	position: absolute;
	position: absolute;
	top:  90px;
	left: 490px;
}
#a4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #084B8A;
	position: absolute;
	position: absolute;
	top:  110px;
	left: 690px;
}

#a5{
	position: absolute;
	top:  160px;
	left: 200px;
}

.areaImp{
	display: none;
}