/*		Estilos para los iconos 	*/

.iconoImprimir{
	width: 50px;
}

.informacion{
	width: 100px;
}

.gastosmedicos{
	width: 900px;
	height: 450px;
}

.tamSalir{
	width: 20px;
}

.iconoHome{
	width: 40px;
}

.iconoDocumento{
	width: 50px;
}


