form{
	font: 76% Arial, sans-serif;
	float: right;
	width: 320px;
	padding: 20px 0;
	border: 2px solid #D8D8D8;
	background: #E6E6E6;
}

fieldset{
	border: 0px solid #000;
	text-align: left;   
}

legend{
	font: bold 150% Arial;
	color: #27518A;
}

div.medidas{
	margin: 10px 0 10px 10px;
}

div.medidas label{
	float:left;
	width:90px;
	line-height:23px;
}

div.medidas input{
	width:120px;
}

input#login{
	margin-left: 100px;
	border: 1px solid #27518A;
	background: #ccc;
}