.tabla{
	display: table;
	font-family: Arial, Helvetica, sans-serif;
}

.titulo{
	display: table-caption;
	font-size: 11px;
	font-weight: bold;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-align: center;
	border-width: 0;
	border-color: #CCCCCC;
	border-style: solid;
}

.fila{
	display: table-row;
	font-size: 11px;
}

.celda{
	display: table-cell;
	font-size: 11px;
}

.celdaHome{
	width: 100px;
	margin: 0 auto;
}