/*		Estilos para las solicitudes y formatos de impresion 	*/

.principal{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #084B8A;
}

.reembolso{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.reembolso_leyenda{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.encabezado{
	background-color: #D8D8D8;
	font-size: 11px;
	font-weight: bold;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-align: center;
	border-width: 0;
	border-color: #CCCCCC;
	border-style: solid;
}

.fondoAzul{
	font-weight:bold;
	text-align:center;
	color: #EEEEEE;
	background-color: #084B8A;
}

.fondoGris{
	background-color: #D8D8D8;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-align: center;
	border-width: 0;
	border-color: #CCCCCC;
	border-style: solid;
}

.fondo{
	font-weight:bold;
	text-align:center;
}

.principal input{
	font-size: 10px;
	border: 1px solid #58D3F7;  /* CCCCCC, 58D3F7*/
	text-transform: uppercase;  
	background-color: #EFFBF8;
}

.principal select{
	font-size: 11px;
}

.boton{
	width: 100%;
}

.leyenda{
	color: #DF0101;
	font-size: 10px;
}

.leyendaCircular{
	color: #DF0101;
	font-size: 12px;
}

.leyendaAzul{
	color: #0040FF;
	font-size: 10px;
}

.leyendaCentrada{
	color: #DF0101;
	font-size: 12px;
	text-align: center;
}

.firma{
	text-align: center;
}
	
.estatus{
	width: 99%;
	border: 1px solid #CCCCCC;
	color: #DF0101;
}

.inputTextNombre{
	width: 99%;
	border: 1px solid #CCCCCC;
}

.inputTextNombreCenter{
	border: 1px solid #CCCCCC;
	text-align:center;
}

.columna1{
	width: 110px;
	border: 1px solid #CCCCCC;
	text-align:center;
}

.columna2{
	width: 150px;
	border: 1px solid #CCCCCC;
}

.columna3{
	width: 150px;
	border: 1px solid #CCCCCC;
}

.columna4{
	width: 150px;
	border: 1px solid #CCCCCC;
}

.columna5{
	width: 70px;
	border: 1px solid #CCCCCC;
}

.columna6{
	width: 70px;
	border: 1px solid #CCCCCC;
	text-align:center;
}

.columna7{
	width: 60px;
	border: 1px solid #CCCCCC;
	text-align:center;
}

.columna8{
	width: 80px;
	border: 1px solid #CCCCCC;
	text-align:center;
}

.soloLectura{
	border: 1px solid #CCCCCC;
}

.ventanaA3{
	display:none;
}
